@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Source+Code+Pro:wght@500&display=swap');
:root{
  --h-font: 'Montserrat', sans-serif;
  --p-font:'Merriweather', serif;
  --compy-font: 'Source Code Pro', monospace;
}

html{
  scroll-behavior: smooth;

}
.bodywrap{
  overflow-x:hidden;
}
.navbar{
  box-shadow: 0px 1px 3px 1.3px black;
}

 .nav-link{
   display:inline;
   line-height: 1.8;
  padding:4px;
  margin-left:20px;
  margin-right:20px;
 font-family: var(--p-font);
  font-size:1.2em;
  text-decoration:none;
  color:#e6f6fc;
}
.nav-link:hover{
  color:white;
  border-radius:8px;
    background-color:#24272b;
}

#welcome-section{

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:white;
  height:auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.8) 50%, rgba(0, 0, 0, 0.7) 100%), url("./keyboard.jpg");
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  padding:90px 0px;
}

#v-pills-tab{
  justify-content: center;
}
#v-pills-about{
  max-width:466px;
  margin:10px 20px;
}

#skills p{
  font-size:1.7em;
  font-family: var(--compy-font);
  z-index:1;
  margin-bottom:30px;
}
#welcome-section h1{
  font-size: 3.5em;
}

h1{
  font-size:3em;
  font-family: var(--h-font);
  z-index:1;

}
#pills{
  margin-top:12px;
  margin-left:auto;
  margin-right:auto;
}
#tab-content{
  margin:auto;
}
#bio{
  width:100%;
  margin-top:30px;
  z-index:1;
  display: flex;
  flex-wrap:wrap;
  font-size:1em;
  line-height: 2;
  font-family: var(--p-font);
  justify-content: center;
    text-align: justify;
}
@media (min-width:600px){
  #bio{
    flex-wrap:nowrap;
  }

}

.nav-pills .nav-link.active{
  border-radius: 3px;
  color:#9A9DA0;
  background-color: #343A40;
}

#bio h2{
  font-weight: bold;
  font-size:2em;
  position:relative;
  display: block;
  text-shadow:2px 2px black;
  text-align: center;
  padding-top:20px;
  font-family: var(--p-font);
}

#skills {
  list-style-type:none;
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-top:26px;
  margin-right:15px;
  padding-left:8px;
}

#skills li:nth-child(odd){
  justify-self:end;
  padding-right:12px;
  box-shadow: 3px -3.5px 2px .3px white;
}
#skills li:nth-child(even){

  padding-left: 14px;
  margin-top:2.2em;
  margin-right:auto;
  margin-left:2px;
  box-shadow: -2px -3px 1px .3px white;
}

#skills li:hover{
  text-shadow: .9px .7px white;
}
.profile{
  width:auto;
  height:100%;
  margin:40px;
  border:gray 1px solid;
  border-radius: 100%;
  box-shadow: -.5px .5px 7px 1.5px;
}


.jumbotron{
  margin:0;
  padding-top:30px;
  padding-bottom:10px;
  font-family: var(--p-font);
}

/* PROJECTS */
#projects{
 background: rgb(4,16,20);
background: linear-gradient(135deg, rgba(4,16,20,1) 0%, rgba(18,35,80,1) 24%, rgba(30,101,130,.8) 100%);
  color:white;

}
.container p{
  padding-top: 20px;

}

.container{
  margin:auto;
}

.project-tile{
  border-radius: 20px;
  background: rgb(50,50,50);
background: linear-gradient(124deg, rgba(43,43,43,1) 0%, rgba(40,40,40,1) 100%);
  font-family: var(--p-font);
  width:100%;
  height:90%;

}
.card-text{
  margin-bottom:0;
}
.card-body{
  padding:0px;
}

.project-tile:hover {

  cursor: pointer;
  -webkit-box-shadow: -1px 9px 40px -12px black;
  -moz-box-shadow: -1px 9px 40px -12px black;
  box-shadow: -1px 9px 40px -12px black;
}
.card:hover .code {
  color: #ff7f50;

}
.project-tile img{
  border-radius: 10px;
  padding:10px 13px 0px 13px;

  object-fit: cover;
}
.project-tile a{
  display:block;
  margin:0px 8px 0px 8px;
  color:white;
  text-decoration:none;
  text-align:center;
  max-width: 100%;
}

.code {
  color: #363636;
  transition: color 0.3s ease-out;
}
.card-text{
    font-family: var(--p-font);
}
.title-text{
  line-height: 1;
  font-family: var(--compy-font);
  font-size: 18px;
  color: #ff7f50;
  padding-left:0px;
  word-wrap: break-word;
}
@media (max-width:575px){
  .project-tile img{
    height:auto;
  }
}


/* CONTACT */
#contact{
  text-align:center;
  background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(32,32,32,1) 90%);
  color:white;
  padding: 40px;
  height:auto;
  box-shadow: 0px -1px 1px 1px black;
}
#contact h1{
  padding:10px;
}
#contact p{
  font-family: var(--p-font);
}
.links{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  height:100%;
padding:10px;


}
#contact a{
  padding:5px 10px;
  margin:0px 15px 10px 15px;
  font-size:1.66em;
  text-decoration:none;
  color:#00a1ab;
  transition:.2s;
  font-family: var(--compy-font);
}
#contact a:hover{
  box-shadow:0px 0px 4px 5px;
  border-radius: 10px;
   transition:border-radius padding box-shadow font-size .2s;
}

/* FOOTER */
#footer{
  margin-top:auto;
  padding:10px;
  text-align:center;
  padding-top:30px;
  color:gray;


}
#footer h4{
  font-size: 17px;
}
