@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


html{
  scroll-behavior: smooth;

}
.bodywrap{
  overflow-x:hidden;
}

 .nav-link{
   display:inline;
   line-height: 1.8;
  padding:4px;
  margin-left:20px;
  margin-right:20px;
 font-family: 'Ubuntu', sans-serif;
  font-size:1.2em;
  text-decoration:none;
  color:#e6f6fc;
}
.nav-link:hover{
  color:white;
  border-radius:8px;
    background-color:#24272b;
}

#welcome-section{

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:white;
  background-color:#404b69;
  height:auto;
  background-image:url("./keyboard.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  padding:70px 0px;
}

#welcome-section p{
  font-size:1.4em;
  font-family: 'Source Code Pro', monospace;
  z-index:1;
  margin-bottom:50px;
}


h1{
  font-size:3em;
  font-family: 'Ubuntu', sans-serif;
  z-index:1;

}
#bio{
  padding:20px;
  border:3px solid white;
  box-shadow: 1px 1px 2px 3px gray;
  border-radius:40px;
  z-index:1;
  justify-content: center;
  display: flex;
  flex-wrap:wrap;
  font-family: 'Source Code Pro', monospace;
}

#bio h2{
  position:relative;
  display: block;
  text-shadow: 1px 2px gray;
  text-decoration:underline;
  text-align: center;
  padding-top:20px;
}

#skills {
  list-style-type:none;
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-top:20px;
  margin-right:20px;
}

#skills li:nth-child(odd){
  justify-self:end;
  padding-right:12px;
  box-shadow: 3px -3.5px 2px .3px white;
}
#skills li:nth-child(even){

  padding-left: 14px;
  margin-top:2.2em;
  margin-right:auto;
  margin-left:2px;
  box-shadow: -2px -3px 1px .3px white;
}

#skills li:hover{
  text-shadow: .9px .7px white;
}
.profile{
  width:auto;
  height:auto;
  margin:auto;
  border:white 4px solid;
  border-radius: 100%;
  box-shadow: .5px .5px 10px 2px;
}


.jumbotron{
  margin:0;
}

/* PROJECTS */
#projects{
 background: rgb(4,16,20);
background: linear-gradient(135deg, rgba(4,16,20,1) 0%, rgba(18,35,80,1) 24%, rgba(30,101,130,.8) 100%);
  color:white;

}

.container{
  margin:auto;
}

.project-tile{
  background: rgb(50,50,50);
background: linear-gradient(124deg, rgba(50,50,50,1) 0%, rgba(34,34,34,0.9864320728291317) 58%, rgba(50,50,50,1) 100%);
  font-family: 'Ubuntu', sans-serif;
  width:100%;

}

.card-body{
  max-width: 100%;
  padding:0px;
}

.project-tile:hover {

  cursor: pointer;
  -webkit-box-shadow: -1px 9px 40px -12px black;
  -moz-box-shadow: -1px 9px 40px -12px black;
  box-shadow: -1px 9px 40px -12px black;
}
.card:hover .code {
  color: #ff7f50;

}
.project-tile img{
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px gray;
  padding-bottom: 4px;
}
.project-tile a{
  display:block;
  margin:8px 8px 0px 8px;
  color:white;
  text-decoration:none;
  text-align:center;
  max-width: 100%;
}

.code {
  color: #363636;
  transition: color 0.3s ease-out;
}
.card-text{
    font-family: 'Nunito', sans-serif;
}
.title-text{

  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  color: #ff7f50;
  padding-left:0px;
  word-wrap: break-word;
}
@media (max-width:575px){
  .project-tile img{
    height:auto;
  }
}


/* CONTACT */
#contact{
  text-align:center;
  background-color: #323232;
  color:white;
  padding: 40px;
  height:auto;
}
#contact h1{
  padding:10px;
}
#contact p{
  font-family: 'Source Code Pro', monospace;
}
.links{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  height:100%;
padding:10px;


}
#contact a{
  padding:11px;
  margin:0px 15px 10px 15px;
  font-size:1.66em;
  text-decoration:none;
  color:#00a1ab;
  transition:.2s;

}
#contact a:hover{
  font-size:1.66em;
  box-shadow:0px 0px 4px 5px;
  padding:11px;
  border-radius: 10px;
   transition:border-radius padding box-shadow font-size .2s;
}

/* FOOTER */
#footer{
  margin-top:auto;
  padding:10px;
  text-align:center;
  padding-top:30px;
  color:gray;
  background-color: #323232;

}
#footer h4{
  font-size: 17px;
}
